

<div  class="container-fluid">
  <h1>New Training</h1>
  <form class="form-horizontal" [formGroup]="trainingGroup">
    <div class="form-group">
      <label for="trainingName" class="col-sm-2 control-label">Training Name</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" formControlName="trainingName" placeholder="Training Name">
      </div>
    </div>
    <div class="form-group">
      <label for="startDate" class="col-sm-2 control-label">Start Date</label>
      <div class="col-sm-4">
        <input type="date" class="form-control" formControlName="startDate" placeholder="Choose Date">
      </div>
    </div>
    <div class="form-group">
      <label for="endDate" class="col-sm-2 control-label">End Date</label>
      <div class="col-sm-4">
        <input type="date" class="form-control" formControlName="endDate" placeholder="Choose Date">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        <button type="button" class="btn btn-success pull-right" [disabled]="!trainingGroup.valid" (click)="createTraining()">Confirm</button>
      </div>
    </div>
    <div class="text-danger"><label id="dtValidationError" *ngIf="trainingGroup.errors" >{{ trainingGroup.errors?.dates | json }}</label></div>
    <div class="text-success"><label  >{{ successMessage }}</label></div>

  </form>
</div>
